# Cross validation

Kfold method, cross_val_score

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
import warnings

In [2]:
warnings.filterwarnings('ignore')

In [3]:
names = ['preg' , 'plas' , 'pres' , 'skin' , 'test' , 'mass' , 'pedi' , 'age' , 'class']
df = pd.read_csv('pima-indians-diabetes+29.csv', names = names, skiprows = 1)

In [4]:
df.head(10)

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1
5     5   116    74     0     0  25.6  0.201   30      0
6     3    78    50    32    88  31.0  0.248   26      1
7    10   115     0     0     0  35.3  0.134   29      0
8     2   197    70    45   543  30.5  0.158   53      1
9     8   125    96     0     0   0.0  0.232   54      1

In [5]:
df.shape

(768, 9)

In [6]:
y = df['class']
x = df.drop('class' , axis = 1)

In [7]:
k = 50
seed = 7

kfold = KFold(n_splits = k , shuffle = True , random_state = seed)
model = LogisticRegression()
results = cross_val_score(model , x, y , cv = kfold)
print(results)
print("Accuaracy : %.3f%% (%.3f%%)" %(results.mean()*100.0 , results.std()*100.0))

[0.6875     0.8125     0.8125     0.9375     0.875      0.625
 0.8125     0.875      0.625      0.625      0.875      0.75
 0.75       0.8125     0.625      0.875      0.9375     0.875
 0.6        0.73333333 0.86666667 0.73333333 0.86666667 0.73333333
 0.86666667 0.73333333 0.8        0.86666667 0.66666667 0.73333333
 0.4        0.66666667 0.6        0.86666667 0.73333333 0.8
 0.8        0.8        0.66666667 0.93333333 0.8        1.
 0.66666667 0.93333333 0.66666667 0.73333333 0.8        0.8
 0.66666667 0.66666667]
Accuaracy : 76.775% (11.385%)

Model accuracy can vary between 76.77 +/- 11.85 %